<nav class="MainNav">
  <ul class="MainNav-list List">
    <li class="MainNav-listItem List-item">
        <a class="MainNav-listLink" href="">home</a>
    </li>
    <li class="MainNav-listItem">
      <a class="MainNav-listLink MainNav-listLink--active" href="">Product</a>
      <ul class="MainNav-underList">
        <li class="MainNav-underListItem"><a class="MainNav-underListLink" href="">Product 1</a></li>
        <li class="MainNav-underListItem"><a class="MainNav-underListLink" href="">Product 2</a></li>
        <li class="MainNav-underListItem"><a class="MainNav-underListLink" href="">Product 3</a></li>
      </ul>
    </li>
    <li class="MainNav-listItem">
      <a class="MainNav-listLink" href="">home</a>
    </li>
  </ul>
</nav>
