$baseFont: "Lucida Grande", Helvetica, Arial, sans-serif;
@import "shared/_colors";
@import "icons/icons";

@import "../../components/slider/_index";

body {
  font-family: $baseFont;
  font-size: 14px;
  color: red;
  padding: 50px;
}

a {
  color: $linkColor;
  transform: translateY(-50%);
}
